/*
Theme Name: AsignaPlus
Theme URI: http://underscores.me/
Author: Sergio Cabral
Author URI: http://www.oryxsd.com
Description: A powerful theme developed for the AsignaPlus website.
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: asignaplus
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 AsignaPlus is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
13.0 Custom CSS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
	letter-spacing: 1px;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@font-face {
    font-family: Fafers-Technical;
    src: url(fonts/fafers.ttf);
}
@font-face {
    font-family: Museo-Slab;
    src: url(fonts/Museo_Slab_500.otf);
}

body,
button,
input,
select,
textarea {
	color: #616161;
	font-family: Fafers-Technical;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: Fafers-Technical;
}

p {
	margin-bottom: 1.5em;
	font-family: Fafers-Technical;
}

b,
strong {
	font-weight: bolder;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.5rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	/*color: royalblue;*/
	color: #2a61c4;
}

a:visited {
	/*color: purple;*/
}

a:hover,
a:focus,
a:active {
	/*color: midnightblue;*/
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
13.0 Custom CSS
--------------------------------------------------------------*/

.clearfix {
  /*overflow: auto;*/
  zoom: 1;
}
ul { margin: 0px;}

.hidden_element {
visibility: collapse;
position: absolute;
left: -99999px;
}

#page {
	width: 100%; /*-20%*/
	max-width: 960px;
	margin: 0 auto;
}
/*
 * This is a solution specific to the current splash page class, 
 * if the page is changed this selector should be changed too.
 */
body.page-template-custom-splash #page {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#content.site-content { 
	margin-bottom: 30px; 
	position: relative;
}

body.page-template-custom-splash #page {
	height: 590px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* This disapears the "Register on this site" message on the register page */
body.login-action-register p.register {
	display: none;
}

.absolute_centered {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

body.page-id-15 header {
	position: absolute;
	left: -99999px;
}

.splash_abc_text {
	color: #feffff;
	font-size: 113px;
	margin: 0px;
}

.splash_abc_text p {
	margin: 0px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	line-height: 85px;
}

#splash_list {
	list-style: none !important;
	height: 335px;
	margin: 65px 0px;
}

.splash_margin_right { margin-right: 30px; }

#splash_list li {
	width: 217px;
	float: left;
}
.splash_steps {
	font-size: 34px;
	line-height: 30px;
	padding-right: 22px;
	font-family: Fafers-Technical;
}
img#splash_screen_logo {
    width: 308px;
}
.box {
	display: block;
	width: 207px;
	height: 207px;
	position: relative;
}

.yellow_box, .message_right { background: #f8b303 !important; }
.blue_box { background: #2a61c4 !important; }
.grey_box { background: #4b4d4f; }

#splash_entrar_link {
	font-size: 34px;
	float: right;
	text-align: right;
    display: block;
    width: 100%;
}
#splash_entrar_link img {
    width: 43px;
}

a {text-decoration: none !important;}
#asigna_login form input[type='submit']:hover {
    box-shadow: none;
    background: #e6e6e6;
}

#colophon {
	font-family: Museo-Slab;
	font-size: 18px;
}
#colophon p {
	margin: 15px 0px;
}
.hidden { display:none; }

/* Main Header */
#masthead { padding-top: 20px; }
#masthead h1 {
position: absolute;
left: -9999px;
}
.site-branding, #site-navigation { display: inline-block;}
#site-navigation {
	float: right;
	width: auto;
	padding-right: 25px;
}
ul#menu-main-menu li {
	margin-left: 35px;
	font-family: Museo-Slab;
	/*font-weight: 600;*/
	font-size: 13px;
	text-transform: uppercase;
}
ul#menu-main-menu li a { 
	color: #474747;
	font-size: 12px;
}
ul#menu-main-menu li span {
	display: block;
	width: 6px;
	height: 6px;
} 
ul#menu-main-menu li.current-menu-item span,
ul#menu-main-menu li.current-page-ancestor span{
	background: #f8b303;
}
p.empty_list {
    margin-bottom: 0px;
}


/* DASHBOARD */
#dashboard_area_top { padding-top: 50px; }
#dashboard_area_top ul li{ 
	float: left;
	margin-bottom: 37px;
	width: 28.03%;
	max-width: 269px;
}
#dashboard_area_top ul li div.dashboard_box {
	display: block;
	width: 100%;/*415*/
	height: 262px;/*414*/
	position: relative;
	padding: 5px;
}
.separator { margin: 0px 7.9%; }/*121*/
.dashboard_text {
	font-size: 23px;/*36*/
	margin: 0px;
}
#dashboard_area_top p {
	text-align: right;
	color: #4b4d4f;
}
#top_rated ul { 
	background: #2a61c4;
	padding: 12px;
	height: 100%;
	max-height: 441px;
}
#top_rated ul li {
	padding: 14px 0;
}
#top_rated p {
	display: inline-block;
	color: #fff;
	font-size: 26px;
	line-height: 24px;
	vertical-align: super;
}
.toprated_img_cont{
	display: inline-block;
	width: 70px;
}
.white_bottom_border { border-bottom: solid #fff 1px; }
#dashboard_area_bottom h2 {
	font-size: 31px;
	border-bottom: solid 2px;
	margin-bottom: 15px;
	line-height: normal;
}
.dashboard_bottom_container { 
	height: 505px;
    width: 28.03%;
    max-width: 269px;
	display: inline-block;
	float: left;
}
#posteo_rapido div {
	background: #4b4d4f;
	height: 100%;
	max-height: 441px;
}
#recientes div {
	background: #f8b303;
	height: 100%;
	max-height: 441px;
}
.dashboard_bottom_container div {
	padding: 20px;
}
#quick_post input {
	width: 100%;
	background: #696b6d;
	border: none;
	margin-bottom: 13px;
	font-family: Museo-Slab;
	font-size: 16px;
}
#quick_post a {
	font-family: Museo-Slab;
	font-size: 16px;
	color: #fff;
	float: right;
}
#materia {height: 43px;}
#fecha {height: 59px;}
#desc {height: 123px;}
#oferta {height: 26px;}
a#modify_account_link { color: #fff; }

/*LOGIN AREA*/
#asigna_login {
	margin: 0px;
}
#asigna_login h1 {
	font-family: Museo-Slab;
	font-size: 20px;
	color: #f8b303;
}
#asigna_login form label {
	text-transform: lowercase;
	color: #ffffff;
	font-family: Museo-Slab;
	font-size: 13px;
}
#asigna_login form input[type='text'],
#asigna_login form input[type='password'] {
	background: #c5c6c6;
	border: none;
	border-radius: 0;
	font-size: 20px;
}
#asigna_login .ws-plugin--s2member-pro-login-widget-lost-password a {
	color: #ffffff;
	font-family: Museo-Slab;
	font-size: 12px;
}
div.ws-plugin--s2member-pro-login-widget-username,
div.ws-plugin--s2member-pro-login-widget-password {
	margin-top: 0px !important;
}
#asigna_login form input[type='submit'] {
	font-family: Museo-Slab;
	font-size: 17px;
}
#log_in .dashboard_box p {
  color: #ffffff;
  margin: 0px;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 30px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 50px;
}
#log_in .dashboard_box p#greeting { line-height: 34px; }
#logged_user_message {
  position: absolute;
  bottom: 0px;
  margin-bottom: 18px;
  width: 100%;
  padding: 0px 10px;
}
p#current_user_display_name { width: 283px; }
a#logout_link {
  color: #ffffff;
  font-size: 30px;
  float: right;
  letter-spacing: 2px;
}
div.ws-plugin--s2member-pro-login-widget-remember-me {
	margin-top: 5px !important;
}

/*
 * Pubicar Modal Window
 */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 550px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	background: #f9b303;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	padding-left: 2px;
	padding-top: 1px;
}
.close:hover { background: #2a61c4; }
.modalDialog h2 { font-size: 39px; }
.modalDialog input#title_input { width: 100%; }
.modalDialog form label { font-size: 21px; }
.modalDialog input[type="submit"] { font-size: 1.5rem; }
.ws-plugin--s2member-pro-login-widget-lost-password a { letter-spacing: 0px; }
img#materia_image { width: 104px; }
.display_table { display: table; }
input#title_input {
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 1px;
}
textarea.small_margin_bottom { font-size: 16px;/*-20%*/ letter-spacing: 1px; }
select#materias_select {
  width: 104px;/*-20%*/
  height: 24px;/*-20%*/
  border: 1px solid #ccc;
  margin-top: 4px;/*-20%*/
  font-size: 16px;/*-20%*/
}
div#materia_div {
  margin-right: 8px;/*-20%*/
  display: inline-block;
  float: left;
}
div#vencimiento_div, div#valor_div {
  width: 296px;/*-20%*/
  display: inline-block;
  float: left;
}
div#vencimiento_div input, div#valor_div input{
	padding-left: 8px;/*-20%*/
	width: 124px;/*-20%*/
	font-size: 16px;/*-20%*/
}
div#valor_div { margin-top: 8px; }/*-20%*/
#valor_label { font-size: 11px; }/*-20%*/
#submit_div { clear: both; float: right; }
.small_margin_bottom { margin-bottom: 8px; }/*-20%*/

/*
 * Eliminar Modal Window
 */
#deleteModal h2,
#deleteModal .options div,
.confirmation-modal h2,
.confirmation-modal .options div {
	text-align: center;
}
#deleteModal .options div,
.confirmation-modal .options div {
	margin-bottom: 10px;
}
#deleteModal h2,
.confirmation-modal h2 {
	margin-top: 10px;
	margin-bottom: 30px;
}


/**
 * Tareas Page
 */
.blue_square {
  display: inline-block;
  height: 30px;/*-20%*/
  width: 30px;/*-20%*/
  background: #2a61c4;
  margin-right: 11px;/*-20%*/
}
#page_title_bar h1 {
  display: inline-block;
  font-size: 39px;/*-20%*/
  vertical-align: super;
}
li.tarea_list_item,
div#assign_detail_header { padding: 12px;/*-20%*/ position: relative; }
li.tarea_list_item p,
div#assign_detail_header p { margin: 0; }
div#tareas_list_container div,
div#assign_detail_header div {
  display: inline-block;
  margin-right: 17px;/*-20%*/
  float: left;
}
div.square { width: 67px; height: 67px; }/*-20%*/
div.square p { text-align: center; }
div.title_container {
  width: 496px;/*-20%*/
  height: 67px;/*-20%*/
  position: relative;
}
div#tareas_list_container p.custom_label,
div#assign_detail_header p.custom_label,
div#assign_proposals_header p.custom_label{
  font-size: 15px;/*-20%*/
  line-height: 17px;/*-20%*/
  padding-bottom: 1.5px;/*-20%*/
  margin: 0px;
}
div#tareas_list_container p.custom_label,
div#assign_detail_header p.custom_label { background: #fff; }
div#assign_proposals_header p.custom_label { background: none !important; color: #fff; }
div.square p:not(.custom_label):not(.due_date_label):not(.due_date_month):not(.due_date_day) {
  font-size: 50px;/*-20%*/
  line-height: 48px;/*-20%*/
  color: #fff;
}
p.money_value {background: #2a61c4;}
p.money_value_label {color: #2a61c4;}
p.offers {background: #595959;}
.category_container img { width: 67px;/*-20%*/ height: 67px;/*-20%*/ }
div#tareas_list_container li:nth-child(odd) { background: #dadad9; }
p.due_date_month { line-height: 15px;/*-20%*/ font-size: 34px;/*-20%*/ }
p.due_date_day { font-size: 28px; }/*-20%*/
.due_date_container p.custom_label {
  background: #595959 !important;
  color: #fff;
}
.due_date_container { background: #fff; }
.assign_title { 
	font-size: 21px; 
	line-height: 21px;
}
#page_title_bar { margin-bottom: 12px; }/*-20%*/
/*p.money_value.small { font-size: 55px !important; }
p.money_value.smaller { font-size: 47px !important; }*/
.small { font-size: 44px !important; }
.smaller { font-size: 37px !important; }

/* Tarea Detail Page */
div#assign_det_right_column,
div#assign_det_left_column {
	width: 463px;
}
div#assign_det_left_column { float: left; }
div#assign_detail_header, .message_left { background: #dadad9; }
div#assign_detail_header .category_container {
	margin: 0px;
}
div#assign_detail_header .square:not(.due_date_container) { float: right; }
div#assign_detail_content p {letter-spacing: .20px;}/*-20%*/
div#assign_detail_content p.assign_title {
    line-height: 21px;
    margin-bottom: 10px;
}
p#assign_detail_description {font-size: 20px; line-height: 20px;}/*-20%*/
p#assign_detail_title {margin-bottom: 4px;}/*-20%*/
.assign_title::first-letter {text-transform: capitalize;}
.assign_title a { color: #2d2c2c; }
div#assign_detail_content { padding: 8px;/*-20%*/ position: relative; }
.title_container small { font-size: 16px;/*-20%*/ letter-spacing: .45px;/*-20%*/ }
.metadata_container { position: absolute; bottom: 0px; }
small.publisher { margin-right: 12px; }/*-20%*/
.metadata_container small span { color: #2a61c4; }
.metadata_container small a { color: #595959; }
a.offer_link { font-size: 19px;/*-20%*/ color: #595959; }
.tarea_list_item a.offer_link {
	position: absolute;
	bottom: 10px;/*-20%*/
	right: 12px;/*-20%*/
}
a.offer_link img { width: 31px; float: right;}/*-20%*/
#offer_link_container {text-align: right;}
#offer_link_container a.offer_link {font-size: 35px; font-weight: bolder;}/*-20%*/
#offer_link_container a.offer_link img {width: 40px;}/*-20%*/
div#assign_det_left_column small {font-size: 19px;}/*-20%*/
#assign_det_left_column .metadata_container {
	position: relative;
    padding: 0px 12px;/*-20%*/
}
#assign_det_left_column .metadata_container .date_published {float: right;}
div#assign_det_right_column {
	float: right;
    margin-top: 28px;
}
div#assign_proposals_header {
	background: #595959;
	padding: 12px;
	position: relative;
	margin-bottom: 10px;
}
div#assign_proposals_header p { margin-bottom: 0px; }
p.proposals_count_label.custom_label { 
	background: #fff;
	padding-left: 1px;
}
ul#proposals_list li:nth-child(odd) { background-color: #dadad9; }
ul#proposals_list p { margin: 0px; }
ul#proposals_list .proposal_message p {
    line-height: 20px;
    margin-top: 10px;
}
li.proposal_item { padding: 10px; }
li.proposal_item .proposal_top div {
	display: inline-block;
	height: 72px;
	float: left;
}
li.proposal_item div.proposal_value { background: #f8b303; }
div.proposal_value { margin-right: 10px; }
div.proposal_value p { line-height: 68px !important; }
p.user_name { font-size: 38px; line-height: 46px; letter-spacing: 1.5px; }
p.user_rating { font-size: 24px; letter-spacing: 1.5px;}
.user_data p { display: inline-block; font-size: 20px; }
p.total_asignments { float: right; }
p.separator {
	text-align: center;
	font-size: 30px;
	line-height: 25px;
}
.proposal_message p { font-size: 22px; }
.pointer_cursor { cursor: pointer; }
div.administration_area {
    text-align: right;
    font-size: larger;
}

/**
 * Detalle Tarea
 */

.proposal_detail_link {
	text-align: right;
	margin-top: 10px;
}

/**
 * User Profile Page
 */
div#user_details_container {
	background: #dadad9;
	padding: 10px;
	padding-bottom: 30px;
}
div#user_info_top_panel div {
  display: inline-block;
  float: left;
  height: 125px;
}
div#user_info_top_panel p { margin: 0px; }
div#user_info_top_panel div#user_score { width: 125px; background: #f8b303; }
div#user_info_top_panel div#user_score p {
	font-size: 94px;
	color: #faf9f9;
	letter-spacing: .20px;
	text-align: center;
	line-height: 118px;
}
div#user_info_top_panel div#user_name {
	width: 50%;
	margin: 0px 1%;
}
div#user_info_top_panel div#user_name p#user_login {
	font-size: 58px;
	line-height: 48px;
	margin-bottom: 10px;
	color: #2d2c2c;
}
div#user_info_top_panel div#user_name p#registered_date {
	font-size: 30px;
	color: #2a61c4;
	line-height: 33px;
}
div#user_info_top_panel p#registered_date span {
	color: #595959;
	text-transform: uppercase;
}
div#user_info_top_panel div#total_earned {
  float: right !important;
}
div#user_info_top_panel div#total_earned p#total_earned_number {
  font-size: 44px;
  background: #2a61c4;
  color: #fff;
  padding: 0px 10px;
  min-width: 200px;
  text-align: right;
}
div#user_info_top_panel div#total_earned p:not(#total_earned_number) {
  font-size: 30px;
  line-height: 13px;
  text-align: right;
  color: #4d4c4c;
}
.user_info_tabs {
    margin-top: 10px;
}
.user_info_tabs .ui-corner-all,
.user_info_tabs .ui-corner-top {
	border-radius: 0px;
}
.user_info_tabs .ui-widget-header {
	border: none;
    border-bottom: 1px solid #aaaaaa;
    background: none;
    margin-bottom: 15px;
}
.user_info_tabs .ui-widget-content {
	background: none;
	border: none;
}
.user_info_tabs .ui-state-default {
    background: transparent;
}
.user_info_tabs .ui-state-active {
	border-bottom: none;
    background-color: #dadad9;
}
.user_info_tabs a,
.user_info_tabs td {
    font-family: Fafers-Technical;
}
.user_info_tabs table {
	margin: 10px 0px;
}
.user_info_tabs thead td {
	border-bottom: 1px solid #aaaaaa;
	font-weight: bold;
}
.user_info_tabs tbody td {
	border-bottom: 1px solid #d3d3d3;
}
.user_info_tabs td {
	padding: 0px 5px;
}
.user_info_tabs h2 {
	font-size: 26px;
	font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px;
}



/**
 * FAQs Page
 */
.ui-accordion .ui-accordion-header {
	border: none;
    background: none;
    font-size: 29px;
    padding-left: 3em;
}
.ui-accordion .ui-accordion-content {
	border: none;
	padding-left: 5em;
}
.ui-icon { width: 49px; height: 49px; }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { 
	background: none;
	top: 16%;
	margin-top: 0px;
	text-indent: 0px;
	color: #fff;
	font-size: 40px;
	text-align: center;
}

/**
 * Notifications Area
 */
div#notifications_area {
	/*position: absolute;*/
	width: 100%;
}
#notifications_area #message {
	margin: 0px;
	text-align: center;
	border: 1px solid;
	padding: 5px 10px;
	font-size: 21px;
}
p.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
p.failure {
	color: #D8000C;
	background-color: #FFBABA;
}
p.information {
	color: #00529B;
	background-color: #BDE5F8;
}
p.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

/**
 * Title Bar Links
 */
div#title_bar_links {
	float: right;
	padding-top: 9px;
}
div#title_bar_links a {
	color: #616161;
	font-size: 30px;
}

/**
 * Detalle Propuesta Page
 */
.proposal_header,
.messages_header {
	font-size: x-large;
}
.messages_header {
	color: #fff;
}
.messages_list {
	display: flex;
    flex-direction: column;
}
.messages_list li {
    padding: 12px;
    margin-bottom: 10px;
    width: 90%;
}
.messages_list li p {
	margin-bottom: 0px;
}
.message_right {
    align-self: flex-end;
}
.message_left {
    align-self: flex-start;
}
.message_header {
    border-bottom: 1px solid;
    margin-bottom: 3px;
    padding-bottom: 3px;
}
.message_form_container {
    border-top: 1px solid;
    padding-top: 15px;
    margin-top: 15px;
}